/* header------------------------------------------------------------------ */
header {}
header h1 {}
header h1 a {}
header h1 a img {width:60px;}/* 이미지크기는 가로세로중 하나만 기입 */
header nav {}
header nav a {font-size:1.063rem;}
header nav .active {color:#36b4e5;}
header .lnb {}
header .lnb a {}
/* footer -------------------------------------------------------------------*/
footer {}
footer .ft_top {}
footer .ft_top .ft_left {}
footer .ft_top .ft_left a {
    font-size:1.068rem;
    font-weight:600;
}
footer .ft_top .ft_right {}
footer .ft_top .ft_right a {
    font-size:1.063rem;
    text-transform:uppercase;
    border:2px solid #aaa;
    display:inline-block;
    padding:10px 20px;
}
footer address {}
footer address+p {}
/* main ---------------------------------------------------------------------*/
main {}
/* 공통 배경-------------------------------------- */
main .bg {
    background-color:#f1f1f1;
    padding:50px 0;
}
main .bg_w {
    padding:50px 0;
}
/* 현재 페이지 경로 ----------------------------------*/
main .border {
    /* border-top:1px solid #aaa;
    border-bottom:1px solid #aaa; */
    border:1px solid #aaa;
    border-left:none; border-right:none;
}
main .bg_path {background-color:#f1f1f1;}
main .bg_path .top {
    padding:20px; /* 값이 0일때 안적어도 됌 */
}
main .bg_path .top dt {}
main .bg_path .top dd {}
main .bg_path .top dd span {}
main .bg_path .top dd em {
    
}
/* 경영이념 제목 -------------------------------*/
main .bg_w .title {
    margin:40px;
}
main .bg_w .title h1 {
    font-size:2.5rem;
    margin:15px 0;
}
main .bg_w .title p {
    
}
/* 경영이념 내용 ---------------------------------*/
main .bg .contents {}
main .bg .contents p {
    line-height: 1.5;
}
/* 경영이념 vision------------------------------- */
main .bg_w .contents {}
main .bg_w .contents h2 {
    font-size:1.375rem;
    margin-bottom:30px;
    color:#36b4e5;

}
main .bg_w .contents p {
    font-size:1.938rem;
    letter-spacing:-0.01em;
    line-height:1.5em;
}
/* rudduddlsua goal, strategy---------------- */
main .bg .contents h2 {
    font-size:1.25rem;
    margin-bottom:30px;
    text-transform:uppercase;
    
}
main .bg .contents ul {
}
 
main .bg .contents .goal_list li {
    width:250px; height:250px;
    border-radius:50%;
}
main .bg .contents .strategy_list li {
    width:180px; height:180px;
    border-radius:50%;
}
main .bg .contents ul li {
    font-size:1.5rem;
    letter-spacing:-0.02em;
    background-color:#fff
}
main .bg .contents ul .bg_1 {
    background-color:#36b4e5;
    

}
main .bg .contents ul .bg_2 {
    
    background-color:#f3c300}

main .bg .contents ul li h3 {

    font-size:1.063rem;
}
main .bg .contents ul li p {
    
}