.notice {
    border: 1px solid grey;
    border-radius: 5px;
    width: 495px; /* height: 300px; */
    padding:25px 20px 40px 30px;
    position:relative; 
}
.notice h1 {
    margin-bottom: 30px;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: -0.02em;
}
.notice .more {
    position:absolute; right:20px; top:25px;
}
.notice {}
.notice ul {
    background-color: aquamarine;
    margin-left:120px;
}
.notice ul li {
    padding:5px 0;
    position: relative;
}
.notice ul li::before {
    content:''; display: inline-block; /* 우선적 */
    width:4px; height:4px; background-color: #000;  
    border-radius: 50%;
    position:absolute; left:-5px; bottom:10px;
    margin-right: 5px;
}
.notice ul li::after {
    clear:both; content: ''; display: inline-block;
}

.notice ul li a {
    
    float:left; 
    background-color: chartreuse;
    width:50%;
    text-overflow: ellipsis;/* 외부처리를 말줄임... */
    white-space:nowrap;/* 한줄처리 */
    overflow: hidden;/* 정해진 크기 안에서만 보이기 */
}
.notice ul li span {
    float: right;
}
/* --------------- footer ---------------- */
footer {
    padding:30px;
}
footer a {
    margin-right:10px;
}
footer a:nth-child(3) {
    color:blue;
}
footer a::after {
    /* content: '|';
    padding-left:15px;
    display:inline; */ /* 단점 : 글자 크기보다 작거나 크게 할수 없다 */
    width:1px; height:15px; background-color: red; content:''; 
    display:inline-block; /* border-radius: 50%; */
    position:relative; right:-7px; top:2px;/* 태그관계에 상관없이 욺직임 */
}
footer a:last-child::after {
    display:none;
}